.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.bmivalue {
  font-weight: 600;
  font-size: larger;

}

.Ideal {
  color: green;
}
.Underweight, .Overweight {
  color: orange;
}
.Obese {
  color: red;
}
.bmiCard {
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 50px;
  border: 1px solid white;;
}