body {
  text-align: center;
  /* background-color: #282c34; */
}
.bmivalue {
  font-weight: 600;
  font-size: larger;

}

.Ideal {
  color: green;
}
.Underweight, .Overweight {
  color: orange;
}
.Obese {
  color: red;
}
.bmiCard {
  margin: 50px auto;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 50px;
  border: 1px solid white;
  /* color: white; */
  font-size: calc(10px + 2vmin);
}
.inputClass input {
  font-size: 0.75em;
  font-weight: 600;;
  text-align: center;
  width: 5em;
}

.inputClass input {
  font-size: 2.75em;

}
.divider {
  margin: 20px;
}